* {
    box-sizing: border-box;
  }
.wrapper{
    display:flex;
    width:98vw;
    height:98vh;
}
.wrapper:after {
    content: "";
    display: table;
    clear: both;
  }

#map{
float:left;
width:75%;
height:100%;
}

#controls_panel {
z-index: 100000;
padding: 10px 10px;
pointer-events: none;
background-color: #102E50;
float: left;
width:25%;
height:100%
}

h1{
    color: white
}

#catlabel{
    color: white
}

#cat_form{
    width:100%;
    pointer-events: auto;
}

#controls_panel > * {
pointer-events: auto;
}

.choices {
    display: block
}

.choices[aria-checked="true"]{
    background-color: rgb(250,250,100)
}
.choices[aria-checked="false"]{
    background-color: rgb(240,240,240)
}

#colorbar{
    z-index: 100000;
    position:absolute;
    right: 5px;
    width: 10%;
    height:95%;
    align-items:center;
    display:flex;
}

img.cb{
    height:90%;
    margin-left:auto;
}